@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.subtitle{
	font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: #000;
    padding-left: 10px;
}

#home{
    background-color: #FAEDCD;
}

nav{
    background-color: transparent;
}

#home .card{
    background-color: transparent;
}

#hero h1{
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: #F25C54;
}

#hero h2{
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: #000;
}

#sobre{
    background-color: #FAEDCD;    
}

#sobre li{
    background-color: transparent;
}

#sobre .card{
    background-color: #FAEDCD;
}

#desenvolvedores{
    background-color: #FA7921;
}

#desenvolvedores .card{
    background-color: #FA7921;
}

#infos{
    background-color: #FAEDCD;    
}

#fome .card{
    background-color: #9BC53D;
    width: 30vw;
    height: 45vh;
}

#fome h1{
    color: #9BC53D;
}

#fome p{
    color: #FAEDCD;
    font-size: 3vw;
}

#moradia .card{
    background-color: #5BC0EB;
    width: 30vw;
    height: 45vh;
}

#moradia h1{
    color: #5BC0EB;
}

#moradia p{
    color: #FAEDCD;
    font-size: 3vw;
}

#footer{
    background-color: #F25C54;
}

.backToTop{
    position: fixed;
    bottom: 0;
    right: 30px;
    font-size: 40px;
    color: #5BC0EB;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.3s;
}

.backToTop.show{
    visibility: visible;
    bottom: 15px;
    transform: translateY(0);
}



